<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>注册页面</title>
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		
		<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">注册页面</h3>
				</div>
				<div class="panel-body">
					
					<form action="" method="POST" role="form">
					
						<div class="form-group">
							<label for="">姓名</label>
							<input name="name" type="text" class="form-control" id="" placeholder="请输入姓名">
						</div>
					
						<div class="form-group">
							<label for="">性别</label>
							<select name="gender" id="">
								<option value="男">男</option>
								<option value="女">女</option>
							</select>
						</div>

						 <div class="form-group">
                        <label for="">行：</label>
                        <select class="form-control" name="row_id">
													<% rowList.forEach(function(item){%>
														<option value="<%= item.id %>"><%= item.name %></option>
													<% }) %>
												</select>
                    </div>
                    <div class="form-group">
                        <label for="">列：</label>
                        <select class="form-control" name="col_id">
													<% colList.forEach(function(item){%>
														<option value="<%= item.id %>"><%= item.name %></option>
													<% }) %>
												</select>
                    </div>

                    <button type="submit" class="btn btn-block btn-primary">注册</button>
                </form>

            </div>
        </div>

    </div>
</body>

</html>
					
